# Exploratory Data Analysis
## Intelligent Customer Churn & Usage Prediction System

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

## 1. Load Data

In [3]:
df = pd.read_csv('../data/customer_churn_data.csv')
df.head()

,CustomerID,Tenure_Months,Monthly_Bill,Total_Usage_GB,Support_Calls,Subscription_Type,Contract_Term,Churn
0,C00001,52,90.34,559.94,1,Basic,Two year,0
1,C00002,15,55.36,336.34,3,Basic,Month-to-month,0
2,C00003,61,134.72,684.22,3,Basic,One year,0
3,C00004,21,51.83,310.49,2,Basic,Month-to-month,0
4,C00005,24,92.26,516.61,3,Basic,Two year,0

## 2. Data Overview

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         2000 non-null   object
 1   Tenure_Months      2000 non-null   int64
 2   Monthly_Bill       2000 non-null   float64
 3   Total_Usage_GB     2000 non-null   float64
 4   Support_Calls      2000 non-null   int64
 5   Subscription_Type  2000 non-null   object
 6   Contract_Term      2000 non-null   object
 7   Churn              2000 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 125.1+ KB

In [5]:
df.describe()

       Tenure_Months  Monthly_Bill  Total_Usage_GB  Support_Calls       Churn
count    2000.000000   2000.000000     2000.000000    2000.000000  2000.00000
mean       35.191500     71.073460      353.988300       1.961500     0.14950
std        20.516366     28.510059      150.090565       1.379844     0.35667
min         1.000000     20.000000       10.000000       0.000000     0.00000
25%        17.000000     50.490000      242.572500       1.000000     0.00000
50%        35.000000     70.455000      352.370000       2.000000     0.00000
75%        53.000000     90.502500      455.450000       3.000000     0.00000
max        71.000000    150.000000      831.360000       8.000000     1.00000

## 3. Churn Distribution

In [6]:
sns.countplot(dataframe=df, x='Churn')
plt.title('Churn Distribution')
plt.show()

ValueError: Could not interpret value `Churn` for `x`. Value is a string, but `data` was not passed.

## 4. Correlation Analysis

In [ ]:
plt.figure(figsize=(10, 6))
sns.heatmap(df.corr(numeric_only=True), annot=True, cmap='coolwarm')
plt.title('Feature Correlations')
plt.show()